.cus-home {
    margin-left: 1px; margin-top: 1em; position: fixed;
}

body{
    background-color:hwb(344 15% 67%);
}

.custom {
    margin-left: 1px;
    position:fixed;
}

.sub-content{
    margin-top: 2em;
    margin-left: 300px; 
    margin-right: 50px;
}

.pagination-page-info {
    color: #e5e9ed; /* メッセージの色を青色に設定 */
}

