<div class="container" style="margin-top:1px;">
    <h1 class="display-6">血圧体重管理</h1>
    <p class="lead">日々の血圧を測定し、健康管理などに役に立たせる</p>
    
        <div class="card card-body" style="width: 1000px;">
            <canvas id="myChart" 
                    style="width:200%;margin-left: 10px;"
                    chart-data="data" 
                    chart-labels="labels" 
                    chart-options="mainDonut" 
                    class="chart chart-doughnut">
                </canvas>
            </div>
    {% if flag %}
    <p style="margin-top: 10px;">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
            本日のデータを入力する
        </button>
    </p>
    <div class="collapse" id="collapseWidthExample2">
        <div class="card card-body" style="width: 600px;">
            <div class="container" style="margin-top:10px;">
                <div class="card text-center" style="width: 30rem;">
                    <div class="card-header">
                        本日の測定結果入力
                    </div>
                    <div class="card-body">
                        <form method="post" action="/regist_data">
                        <div class="row g-3 align-items-center" style="margin-top: 1px;">
                            <div class="col-auto">
                            <label for="highbld" class="col-form-label">拡張期血圧:</label>
                            </div>
                            <div class="col-auto">
                            <input type="text" id="highbld" name="high_bld" class="form-control">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center" style="margin-top: 1px;">  
                            <div class="col-auto">
                                <label for="lowbld" class="col-form-label">収縮期血圧:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="lowbld" name="low_bld" class="form-control">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center" style="margin-left: 25px;margin-top: 1px;">  
                            <div class="col-auto">
                                <label for="pulse" class="col-form-label">脈拍数:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="pulse" name="pulse" class="form-control">
                            </div>
                        </div> 
                        <div class="row g-3 align-items-center" style="margin-left: 40px;margin-top: 1px;">  
                            <div class="col-auto">
                                <label for="weight" class="col-form-label">体重:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="weight" name="weight" class="form-control">
                            </div>
                        </div> 
                        
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 300px;height: 50px;font-size: 25px;">送信</button>
                        
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    {% else %}
    <p class="lead">本日のデータはすでに入力済です（You already inputed your health data.）</p>
    {% endif %}
    {% include 'footer.html' %}
    
    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: {{ health_data.date |safe}},
            datasets: [{
                label: '最高血圧',
                data: {{ health_data.high| safe}},
                borderColor: '#FF1493',
                backgroundColor: '#FF69B4',
                lineTension:0.2,
                yAxisID: 'y',
                }, {
                label: '最低血圧',
                data: {{　health_data.low|safe}},
                borderColor: '#EE82EE',
                backgroundColor: '#DDA0DD',
                lineTension:0.2,
                yAxisID: 'y',
                },{
                label: '心拍数',
                data: {{ health_data.pulse | safe}},
                
                borderColor: '#FF7f8F',
                backgroundColor: '#FFBFCF',
                lineTension:0.2,
                yAxisID: 'y',
                },{
                label: '体重',
                data: {{ health_data.weight | safe}},
                borderColor: '#7CFC00',
                backgroundColor: '#ADFF2F',
                lineTension:0.2,
                yAxisID: 'y2',
                }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true, 
            interaction: {
                mode: 'index',
                intersect: false,
                },
            stacked: false,
            plugins: {
            title: {
                display: true,
                text: '血圧と体重管理'
            }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'week',
                        displayFormats:{
                            week: 'MM月dd日'
                        }
                    }
                },
                y: {
                    position: 'left',
                    min: 60,
                    max: 180,
                    title: {
                        text: '血圧(mm/Hg)',
                        display: true,
                    },
                    
                },
                y2: {
                    position: 'right',
                    min: 70,
                    max: 80,
                    title: {
                        text: '体重(kg)',
                        display: true,
                    },
                    
                    // grid line settings
                    grid: {
                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                },
            }
          }
        });
    </script>
</div>