
<div class="container" style="margin-top:1px;">
    <h1 class="display-6">血圧体重管理</h1>
    <p class="lead">日々の血圧を測定し、健康管理などに役に立たせる</p>
    <div class="card card-body">
        <canvas id="myChart" />
    </div>
</div>
{% include 'footer.html' %}
    
<script>
    // 一度変数に代入してJS側に渡す
    var healthDataDate = {{ home.health_data.date |tojson }};
    var healthDataHigh = {{ home.health_data.high |tojson }};
    var healthDataLow = {{ home.health_data.low |tojson }};
    var healthDataPulse = {{ home.health_data.pulse |tojson }};
    var healthDataWeight = {{ home.health_data.weight |tojson }};
</script>

<script src="{{ url_for('static', filename='js/health.js')}}"></script>