<!-- 本日の健康チェック -->
<p class="lead" style="margin-bottom: 1px;">健康チェック</p>
{% if home.health_info %}
<script>
  curWeight = {{ home.health_info.weight}}; 
  gWeight = 72;
  curHigh = {{ home.health_info.systolic_blood_pressure}};
  curLow = {{ home.health_info.diastolic_blood_pressure}};
</script>
<table class="table-info table-bordered border-info table-sm text-light" border="2">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">{{home.dt2[0]}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-light fw-bold">
      <th scope="row">血圧</th>
      <td><div id="gauge-blood" style="position: relative; margin-top: 2px; margin-left: 10px; margin-bottom: 20px; margin-right: 10px;"></div></td>
     
    </tr>
    <tr class="text-white fw-bold">
      <th scope="row">体重</th>
      <td><div id="gauge-container" style="position: relative; margin-top: 2px; margin-bottom: 20px; margin-left: 10px; margin-right: 10px;"></div></td>
    </tr>
  </tbody>
</table>

{% else %}
<div>
<p class="lead text-danger fw-bold text-light" style="margin-bottom: 1px;">測定結果が未入力です。以下のボタンより入力してください。</p>
<button class="btn btn-danger" onclick="location.href='/regist_health'">測定結果入力</button>
</div>
{% endif %}

<!-- 今週の予定(イベント) -->
{% if home.today_event %}
<p class="lead" style="margin-top: 1em ;margin-bottom: 1px;">今週の予定</p>
<table class="table-info table-bordered border-info table-sm text-white" border="2">
  <tbody>
    {% for key, items in home.today_event.items() %}
      {% if items %}
      {% for item in items %}
        <tr>
        <th>{{ key }}</th>
        <td>{{ item[1] }}</td>
        <td>{{ item[3] }}</td>
        <td><button class="btn btn-primary" onclick="finish_event(
            {{ item[0] }},
            '{{ item[1] }}')">完了にする</button>
        </td>
        </tr>
        {% endfor %}
      {% else %}
      <th>{{ key }}</th>
      <td><a type="button" class="btn btn-outline-primary text-light" href="{{url_for('edit_task',id=0)}}">予定を入れる
        <span class="visually-hidden">予定を入れる</span>
      </a></td>
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>

<!-- old -->

{% else %}
<p class="lead">今週のイベント予定はありません。</p>
{% endif %}
<!-- イベントバッジ -->
<a type="button" class="btn btn-primary" style="margin-top: 1em;" onclick="showTab('{{nav[2].id}}')">
  イベント数：<span class="badge bg-dark">{{home.running_event | length}}</span>
  <span class="visually-hidden">unread messages</span>
</a>
<button type="button" class="btn btn-success" style="margin-top: 1em;" onclick="showTab('{{nav[3].id}}')">
  タスク数<span class="badge bg-dark">{{home.running_task | length}}</span>
  <span class="visually-hidden">unread messages</span>
</button>
{% if home.today_task|length == 0 %}
<p class="lead">本日のタスクはありません。</p>
{% endif %}
{% if home.today_task %}
<table class="table-info table-bordered border-info table-sm text-white" border="2" style="margin-top: 1em;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タスク名</th>
      <th scope="col">詳細内容</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.today_task | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{home.today_task[index].task_name}}</td>
      <td>{{home.today_task[index].discription}}</td>
      <td>
        <button class="btn btn-success" onclick="finish_task(
          {{ home.today_task[index].id }},
          '{{ home.today_task[index].task_name }}')">完了にする</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<p class="lead" style="margin-bottom: 1px;" id="location"><a href="https://www.jma.go.jp/bosai/forecast/" target="_blank"></a></p>
<div class="weatherForecast">
  <div class="weather text-light">
    <div class="wdate">--/--(-)</div>
      <img class="weatherImg">
      <div class="weatherTelop">--</div>
      <div><span class="tempMin text-light">-℃</span>/<span class="tempMax text-light">-℃</span></div>
  </div>
</div>
<script src="{{ url_for('static', filename='/js/weather.js')}}"></script>
<script src="{{ url_for('static', filename='/js/task.js')}}"></script>
<script src="{{ url_for('static', filename='/js/weight.js')}}"></script>
<script src="{{ url_for('static', filename='/js/blood_gauge.js')}}"></script>
{% include 'footer.html' %}

