<!-- 本日の健康チェック -->
<p class="lead" style="margin-bottom: 1px;">健康チェック</p>
{% if home.health_info %}
<table class="table-info table-bordered border-info table-sm" border_size="2">
  <thead>
    <tr>
      <th scope="col">{{home.dt2}}</th>
      <th scope="col">収縮期血圧</th>
      <th scope="col">拡張期血圧</th>
      <th scope="col">体重(kg)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-success fw-bold">
      <th scope="row">本日の結果</th>
      <td>{{home.health_info.high}}</td>
      <td>{{home.health_info.low}}</td>
      <td>{{home.health_info.weight}}</td>
    </tr>
    <tr class="text-warning fw-bold">
      <th scope="row">目標値</th>
      <td>{{home.health_info_goal.high}}</td>
      <td>{{home.health_info_goal.low}}</td>
      <td>{{home.health_info_goal.weight}}</td>
    </tr>
    <tr class="text-info fw-bold">
      <th scope="row">残差</th>
      <td>{{home.health_info_diff.high}}</td>
      <td>{{home.health_info_diff.low}}</td>
      <td>{{home.health_info_diff.weight}}</td>
    </tr>
  </tbody>
</table>
{% else %}
<p class="lead text-danger fw-bold" style="margin-bottom: 1px;">測定結果が未入力です。以下のボタンより入力してください。</p>
<button class="btn btn-danger" onclick="location.href='/regist_health'">測定結果入力</button>
{% endif %}

<!-- 本日の予定(イベント) -->
{% if home.today_event %}
<p class="lead" style="margin-bottom: 1px;">本日の予定(イベント)</p>
<table class="table-info table-bordered border-info table-sm">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">名称</th>
      <th scope="col">内容</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.today_event | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{home.today_event[index].event_name}}</td>
      <td>{{home.today_event[index].discription}}</td>
      <td>
        <button class="btn btn-primary" onclick="finish_event(
          {{ home.today_event[index].id }},
          '{{ home.today_event[index].event_name }}')">完了にする</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="lead info" style="margin-bottom: 1px;">本日の予定(イベント)はありません</p>
{% endif %}
{% if home.today_task %}
<p class="lead" style="margin-bottom: 1px;">本日の予定(タスク)</p>
<table class="table-info table-bordered border-info table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タスク名</th>
      <th scope="col">詳細内容</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.today_task | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{home.today_task[index].task_name}}</td>
      <td>{{home.today_task[index].detail}}</td>
      <td>
        <button class="btn btn-primary" onclick="finish_task(
          {{ home.today_task[index].id }},
          '{{ home.today_task[index].task_name }}')">完了にする</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<p class="lead" style="margin-bottom: 1px;" id="location"><a href="https://www.jma.go.jp/bosai/forecast/" target="_blank"></a></p>
<div class="weatherForecast">
  <div class="weather">
    <div class="wdate">--/--(-)</div>
      <img class="weatherImg">
      <div class="weatherTelop">--</div>
      <div><span class="tempMin">-℃</span>/<span class="tempMax">-℃</span></div>
  </div>
</div>
<script src="{{ url_for('static', filename='/js/weather.js')}}"></script>
<script src="{{ url_for('static', filename='/js/task.js')}}"></script>
{% include 'footer.html' %}

