<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>education</title>
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/md.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>

</head>
<body>
  <div class="container">
    <!-- メニュー -->
    <div class="cus-home">
      <a href="{{url_for('index')}}"  type="button" class="btn btn-primary custom">ホーム
        <span class="visually-hidden">ホーム</span>
      </a>

      <br><br>
      <!-- メニュー -->
      
      <ul class="list-unstyled">
        <li class="mb-2">
          <a class="collapsed text-dark fs-6" 
            data-bs-toggle="collapse" 
            data-bs-target="#{{category.id}}" 
            aria-expanded="false">
            {{category.text}}
          </a>
          <div class="collapse" id="{{category.id}}">
            
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {% for index in range(nav | length) %}
              <li><a href="#{{nav[index].link_id}}" class="text-dark fs-6">{{nav[index].link_text}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li class="border-top my-3" style="width: 100px;"></li>
      </ul>
      
    </div>
    {% for index in range(nav | length) %}
    <!-- 本体 -->
    <div class="sub-content" id="{{nav[index].link_id}}">
      <p class="lead text-dark fs-4">{{nav[index].link_text}}</p>
      {% include nav[index].url %}
    </div>
    <hr>
    <p class="lead text-center fs-7"> End of content.</p>
    <hr>
    {% endfor %}

    {% include 'footer.html' %}
  </div>
</body>
</html>