<!-- イベント一覧 -->
{% if home.running_event %}
<p class="lead" style="margin-bottom: 1px;">イベント一覧</p>
<table class="table-info table-bordered border-info table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">イベント名</th>
      <th scope="col">日時</th>
      <th scope="col">補足説明</th>
      <th scope="col">ステータス</th>
      <th scope="col">残日数</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.running_event | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{home.running_event[index].event_name}}</td>
      <td>{{home.running_event[index].event_date}}</td>
      <td>{{home.running_event[index].discription}}</td>
      <td>{{home.running_event[index].status}}</td>
      <td>{{home.running_event[index].left_days}}</td>
      <td>
        <button class="btn btn-primary" onclick="finish_event(
          {{ home.running_event[index].id }},
          '{{ home.running_event[index].event_name }}')">完了にする</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<script src="{{ url_for('static', filename='/js/task.js')}}"></script>

{% include 'footer.html' %}