<!-- イベント一覧 -->
{% if event_data %}
<p class="lead" style="margin-bottom: 1px;">イベント一覧</p>
<table class="table-info table-bordered border-info table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">イベント名</th>
      <th scope="col">日時</th>
      <th scope="col">補足説明</th>
      <th scope="col">ステータス</th>
      <th scope="col">残日数</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(event_data | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{event_data[index].event_name}}</td>
      <td>{{event_data[index].event_date}}</td>
      <td>{{event_data[index].discription}}</td>
      <td>{{event_data[index].status}}</td>
      <td>{{event_data[index].left_days}}</td>
      <td>
        <button class="btn btn-primary" onclick="finish_event(
          {{ event_data[index].id }},
          '{{ event_data[index].event_name }}')">完了にする</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<script>
  function finish_event(id, name){
    $.ajax({
      method: 'post',
      url: '/finish_event',
      data: JSON.stringify({
        "id": id,
        "name": name
      }),
      contentType: 'application/json;charset=UTF-8',
      success: function(){
          window.location.href = '/thanks/0/' + name;
        }
    });
  }
</script>

{% include 'footer.html' %}