<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>home-navigate</title>
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/weather.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
         
</head>
<body>
  
  <div class="container">
   
      <nav class="navbar fixed-top navbar-light nav-justified"> 
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>

            <!-- dropdown menu修正済 -->
            <div class="dropdown fixed-top">
              <button class="btn btn-light dropdown-toggle" aria-expanded="false">
                  <img class="rounded-circle" src="../static/images/40_man.jpg" width="45" height="45"></img>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('show_event',id=0)}}">イベント登録</a></li>
                <li><a class="dropdown-item" href="{{url_for('show_task',id=0)}}">タスク登録</a></li>
                <li><a class="dropdown-item" href="{{url_for('logout')}}" >ログアウト</a></li>
              </ul>
            </div>

            <p class="lead" style="margin-left: 100px;margin-right: 300px;margin-top: 5px;">
            {{ home.user }} さん、こんにちは！
            本日は 「{{home.dt}}」 です。
            </p>

            <!-- dashboard -->
            <div class="d-flex align-items-start" style="margin-top: 50px;">
              <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="width: 150px;">
                {% for index in range(nav | length) %}
                {% if nav[index].active %}
                <button class="nav-link active" 
                  id="{{nav[index].label}}" 
                  data-bs-toggle="pill" data-bs-target="#{{nav[index].id}}"
                  type="button" role="tab" aria-controls="{{nav[index].id}}" aria-selected="true">
                  {{nav[index].text}}
                </button>
                {% else %}
                <button class="nav-link" 
                  id="{{nav[index].label}}" 
                  data-bs-toggle="pill" data-bs-target="#{{nav[index].id}}"
                  type="button" role="tab" aria-controls="{{nav[index].id}}" aria-selected="false">
                  {{nav[index].text}}
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <div class="tab-content navbar-nav-scroll" id="v-pills-tabContent" style="width: 1200px;">
                {% for index in range(nav | length) %}
                {% if nav[index].active %}
                <div class="tab-pane fade show active" id="{{ nav[index].id }}" role="tabpanel" aria-labelledby="{{nav[index].label}}">
                  {% include nav[index].url %}
                </div>
                {% else %}
                <div class="tab-pane fade show" id="{{ nav[index].id }}" role="tabpanel" aria-labelledby="{{nav[index].label}}">
                  {% include nav[index].url %}
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
        </div>
      </nav>
  </div>

  <script src="{{ url_for('static', filename='/js/task.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/dropdown.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>
  
</body>
</html>