<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>home-navigate</title>
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/weather.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body style="background-color: #4a5c6d;">
  <div class="container text-light">
    <!-- dropdown menu修正済 -->
    <div class="dropdown fixed-top">
      <button class="btn dropdown-toggle" aria-expanded="false">
          <img class="rounded-circle" src="../static/images/40_man.jpg" width="45" height="45"></img>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{url_for('logout')}}" >ログアウト</a></li>
      </ul>
    </div>
    <!-- lead container -->
    <p class="lead lead-custom">
    {{ home.user }} さん、こんにちは！
    本日は 
    <span class="text-white bg-dark">&spades;【 {{home.dt}}】&spades;</span>です。
    </p>
    <!-- dashboard -->
    <div class="nav">
      {% for index in range(nav | length) %}
      {% if nav[index].active %}
      <a class="nav-link active" id="{{nav[index].label}}" 
        data-bs-toggle="pill" data-bs-target="#{{nav[index].id}}"
        role="tab" aria-controls="{{nav[index].id}}" aria-selected="true" onclick="changeBackgroundColor({{index}})">
        {{nav[index].text}}</a>
      {% else %}
      <a class="nav-link" id="{{nav[index].label}}" 
        data-bs-toggle="pill" data-bs-target="#{{nav[index].id}}"
        role="tab" aria-controls="{{nav[index].id}}" aria-selected="false" onclick="changeBackgroundColor({{index}})">
        {{nav[index].text}}</a>
      {% endif %}
      {% endfor %}
      <!-- リンク一覧 -->
      
      <a class="nav-link" href="{{url_for('show_links', page='1')}}">
        リンク一覧</a>
      <!-- 教材 dropdown -->
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" aria-expanded="false">学習教材</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{url_for('show_education',id=1)}}">Flask</a></li>
          <li><a class="dropdown-item" href="{{url_for('show_education',id=2)}}">Game</a></li>
          <li><a class="dropdown-item" href="#" disabled>MYSQL</a></li>
        </ul>
        </div>
      <!-- dropdown -->
      <div class="dropdown">
      <a class="nav-link dropdown-toggle" aria-expanded="false">情報登録</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{url_for('regist_health_info')}}">健康情報登録</a></li>
        <li><a class="dropdown-item" href="{{url_for('edit_event',id=0)}}">イベント登録</a></li>
        <li><a class="dropdown-item" href="{{url_for('edit_task',id=0)}}">タスク登録</a></li>
        <li><a class="dropdown-item" href="{{url_for('edit_tv_info',id=0)}}">ドラマ映画登録</a></li>
        <li><a class="dropdown-item" href="{{url_for('edit_link_info',id=0)}}">リンク登録</a></li>
        <li><a class="dropdown-item" href="{{url_for('edit_edu_info',id=0)}}">教材記事登録</a></li>
      </ul>
      </div>
      
    </div>
    <div class="tab-content navbar-nav-scroll" id="v-pills-tabContent" style="width: 1200px;">
      {% for index in range(nav | length) %}
      {% if nav[index].active %}
      <div class="tab-pane show active" id="{{ nav[index].id }}" >
        {% include nav[index].url %}
      </div>
      {% else %}
      <div class="tab-pane show" id="{{ nav[index].id }}" >
        {% include nav[index].url %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <script src="{{ url_for('static', filename='/js/task.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/dropdown.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>
 
</body>
</html>