<!-- タスク一覧 -->
{% if home.link_info %}
<p class="lead text-light" style=" width: 150px;margin-bottom: 1px;">ドラマ一覧</p>
<table class="table-info table-bordered border-info table-sm text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タイトル</th>
      <th scope="col">カテゴリ</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.link_info | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td><a class="text-light" href="{{home.link_info[index].url}}" target="_blank">{{home.link_info[index].title}}</a></td>
      <td>{{home.link_info[index].category}}</td>
      <td>
        <!-- 編集 -->
        <a href="{{url_for('edit_link_info', id=home.link_info[index].id)}}" type="button" class="btn btn-outline-success text-light">編集
          <span class="visually-hidden">編集</span>
        </a>
        <!-- 詳細ボタン -->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offtv{{index + 1}}" aria-controls="offcanvasRight">詳細</button>
        <div class="offcanvas offcanvas-end" id="offtv{{index + 1}}" aria-labelledby="id2{{ index + 1 }}">
          <div class="offcanvas-header bg-dark">
            <h5 id="id2{{ index + 1 }}">詳細</h5>
            <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body bg-dark" id="id2{{index+1}}">
            <p class="lead">{{home.link_info[index].title}}</p>
            <p>{{home.link_info[index].discription}}</p>
          </div>
        </div>
      </td>
      </tr>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="lead">現在視聴中のドラマはありません</p>
{% endif %}

{% include 'footer.html' %}
