<div class="container" style="margin-top:1px;">
    <div class="card card-body" style="width: 650px;">
        <div class="container" style="margin-top:10px;">
            <div class="card text-center" style="width: 600px;">
                <div class="card-header">
                    {{task.title}}
                </div>
                <div class="card-body" >
                    <form method="post" action="/set_task">
                        <div class="row g-3 align-items-center" style="margin-top: 1px; width: 599px;">
                            <div class="col-auto">
                                <label for="task" class="col-form-label">{{task.name}}</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="task" name="task_name" class="form-control">
                            </div>
                        </div>

                        <div class="row g-3 align-items-center" style="margin-top: 1px;">
                            <div class="col-auto">
                                <label for="datepicker" class="col-form-label">{{task.limit}}</label>
                            </div> 
                             <div class="col-md-6">
                                <div class="input-group">
                                  <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
                                    </svg>
                                  </span>
                                 <input id="datepicker2" name="task_limit_date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 align-items-center" style="margin-top: 1px;">
                            <div class="col-auto">
                                <label for="disc" class="col-form-label">{{task.content}}</label>
                            </div>
                            <input type="text" id="disc" name="discription" class="form-control" style="width: 500px;">
                        </div>

                        <div class="row g-3 align-items-center" style="margin-top: 1px; width: 599px;">
                            <div class="col-auto">
                                <label for="kind" class="col-form-label">{{task.category}}</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="kind" name="task_category" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" 
                            style="margin-top: 20px;margin-left: 30px; width: 300px;height: 50px;font-size: 25px;">
                            {{task.button}}
                        </button>   
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <script>
        $('#datepicker2').datepicker({
         language:'ja',
         format: 'yyyy-mm-dd',
         autoclose: true,
         todayHighlight: true,
        });
     </script>
    {% include 'footer.html' %}
    
</div>