<!-- タスク一覧 -->
{% if home.running_task %}
<p class="lead" style="margin-bottom: 1px;">タスク一覧</p>
<table class="table-info table-bordered border-info table-sm text-light" border="2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タスク名</th>
      <th scope="col">詳細内容</th>
      <th scope="col">期限日</th>
      <th scope="col">残日数</th>
      <th scope="col">ステータス</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.running_task | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{home.running_task[index].task_name}}</td>
      <td>{{home.running_task[index].detail}}</td>
      <td>{{home.running_task[index].limit_date}}</td>
      <td>{{home.running_task[index].left_days}}</td>
      <td>{{home.running_task[index].status}}</td>
      <td>
        <button class="btn btn-success" onclick="finish_task(
          {{ home.running_task[index].id }},
          '{{ home.running_task[index].task_name }}')">完了にする</button>
        <!-- <button class="btn btn-light"> -->
          <a href="{{url_for('show_task', id=home.running_task[index].id)}}" type="button" class="btn btn-outline-success text-light">編集
            <span class="visually-hidden">編集</span>
          </a>
        <!-- </button> -->
      </td>
      </tr>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% include 'footer.html' %}
