<!-- タスク一覧 -->
{% if home.running_task %}
<p class="lead" style="margin-bottom: 1px;">タスク一覧</p>
<table class="table-info table-bordered border-info table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タスク名</th>
      <th scope="col">詳細内容</th>
      <th scope="col">期限日</th>
      <th scope="col">残日数</th>
      <th scope="col">ステータス</th>
      <th scope="col">管理操作</th>
    </tr>
  </thead>
  <tbody>
    {% for index in range(home.running_task | length) %}
    <tr>
      <th scope="row">{{ index + 1 }}</th>
      <td>{{home.running_task[index].task_name}}</td>
      <td>{{home.running_task[index].detail}}</td>
      <td>{{home.running_task[index].limit_date}}</td>
      <td>{{home.running_task[index].left_days}}</td>
      <td>{{home.running_task[index].status}}</td>
      <td>
        <button class="btn btn-primary" onclick="finish_task(
          {{ home.running_task[index].id }},
          '{{ home.running_task[index].task_name }}')">完了にする</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<script src="{{ url_for('static', filename='/js/task.js')}}"></script>

{% include 'footer.html' %}
